
/* For content heavy documents only (excluded from single-page-apps) */

@layer component {

  article {
    flex-direction: column;
    display: flex;
    gap: var(--xl); /* section gaps */
  }

  h1, h2, h3, p, li, figure {
    max-width: var(--max-line-width)
  }

  h1 {
    font-size: 2.25em;
    & + p, & + time + p {
      font-size: 1.125em;
      text-wrap: balance;
  }
}

  section > :is(h3, h4) {
    margin-top: var(--l)
  }
}
